.column{
    height: 85vh;
    width: 300px;
    padding:8px;
    background-color: rgb(227, 227, 227);
    border-style: solid;
    border-width: 4px 1px 1px 1px;
}

h3{
    margin-top: 8px;
    font-weight: bold;
}

.search-group{
    display: flex;
}

.btn-search{
    padding: 4px;
}

.list{
    height: calc(85vh - 150px);
    overflow-y: scroll;
}